
body {
    font-family: Arial, sans-serif;
    /* display: flex; */
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.card {
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
}

.profile-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.name {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
}

.bio {
    font-size: 0.9em;
    color: #777;
    margin-bottom: 15px;
}

.followers {
    background-color: #3498db;
    color: white;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 1em;
}
.github {
    margin-top: 20px;
    background-color: #3498db;
    color: white;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 1em;
    border: #3498db;
}